<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- the routerLink array is bunch of 'elements' repreesnting Strings in the route -->
      <a 
      [routerLink]="['/servers', server.id, 'edit']"
      [queryParams]="{ allowEdit: '1' }"
      fragment="loading"
      href="#" class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <hr />
    <!-- Note: <a> tags require an 'path' with a '/' slash -->
    <!-- <a routerLink="/servers/servers">Reload Page</a> -->
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <hr />
    <app-edit-server></app-edit-server>
    <hr />
    <app-server></app-server>
  </div>
</div>